/*
div { font-family:"FS Me Web Bold", Helvetica, Arial, Verdana , sans-serif; font-size-adjust:0.53; font-weight:bold; font-style:normal; }
div { font-family:"FS Me Web Italic", Helvetica, Arial, Verdana , sans-serif; font-size-adjust:0.53; font-weight:normal; font-style:italic; }
div { font-family:"FS Me Web Bold Italic", Helvetica, Arial, Verdana , sans-serif; font-size-adjust:0.53; font-weight:bold; font-style:italic; }
div { font-family:"FS Me Web Light Italic", Helvetica, Arial, Verdana , sans-serif; font-size-adjust:0.53; font-weight:200; font-style:italic; }
div { font-family:"FS Me Web Regular", Helvetica, Arial, Verdana , sans-serif; font-size-adjust:0.53; font-weight:normal; font-style:normal; }
div { font-family:"FS Me Web Light", Helvetica, Arial, Verdana , sans-serif; font-size-adjust:0.53; font-weight:200; font-style:normal; }
*/
/*intridea.com t x  ag at top*/


#tag{
  position:absolute;
  top:0;
  display:block;
  right:20px;
  width:40px;
  height:40px;
  background:url("../img/tag_2x.png") bottom center;
  z-index:5000;
	background-size: 40px 40px;
  opacity:.4;
  border-radius:0px 0px 3px 3px;
  box-shadow:rgba(0,0,0,0.1) 0px 2px 4px;

}

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5){


  }

  #tag:hover{  opacity:.8;}


  #tag:active{
      box-shadow:inset rgba(84,6,90,.12) 0px 2px 4px;
  }


/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
  
body{
  background:#fff;
  font-family:"FS me","FS Me Web Regular", Helvetica, Arial, Verdana , sans-serif; font-size-adjust:0.53; font-weight:normal; font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(84,6,90,.4);  
  font-size:16px;
  
}

#container{
	
}

#header{
}

header{
  box-shadow:inset 0 200px 200px rgba(0,0,0,.1);
  display:block;
  width:100%;
  padding-top:30px;
  text-align:center;
  position:relative;
  padding:0;
  height:auto;
	background:#00aeef;
}

  header section{
    max-width:1300px;
    margin:0 auto;
    position:relative;
    padding:0 20px 30px 20px;
  }
  
  header img{
    margin-top: -23px;
  }
  
  #reg_logo{
    display:inline  ;
  }
  #alt_logo{
    display:none;
  }
  
  header h1{
    font-size:4em;
    line-height:70px;
    color:#fff;
    margin:0 0 10px 0;
    text-transform:uppercase;
    letter-spacing:-5px;
    padding:0;
    font-family:"FS me","FS Me Web Bold", Helvetica, Arial, Verdana , sans-serif; font-size-adjust:0.53; font-style:normal;
    position:absolute;
bottom:0;
text-align:center;
width:100%;
  }
  
  .lt-ie7 header h1 {
    font-size:4.5em;
    line-height:80px;
    color:#fff;
    margin:0 0 10px 0;
    text-transform:uppercase;
    letter-spacing:-5px;
    padding:0;
    font-family: Arial, Verdana , sans-serif; font-style:normal;
  }




  #header_border
    {
      content:"";
      width:100%;
      height:10px;
      background:#0092c8;
      background-size:10px 10px;
      display:block;
    }

.multiplebgs header{
/*    background:url("../img/header_left.png")top left no-repeat,url("../img/header_right.png") top right no-repeat,url("../img/header.png") top right;  */
}



@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .multiplebgs header{
/*    background:url("../img/header_left_2x.png") left no-repeat,url("../img/header_right_2x.png") right no-repeat,url("../img/header_2x.png") right;  */
/*    background-size:250px 390px,250px 390px,auto 390px;*/
  }
}

#quick_links{
  clear:both;
  display:block;
  margin:0 auto 0px;
  width:100%;
}

.button, .button:hover, .button:visited{
  text-decoration:none;
  color:#fff;
  -webkit-transition: all .3s ease-in; 
  -moz-transition: all .3s ease-in; 
  -o-transition: all .3s ease-in; 
  transition: all .3s ease-in;
}

.button_outer{
  width:33.33%;
  float:left;
  display:block;
  padding:0 10px;
}

.button {
  float:left;
  display:block;
  width:100%;
  height:40px;
  background:#BA8EBE;
  background:rgba(255, 255, 255, 0.15);
  line-height:43px;
  font-size:1.2em;
  font-family:"FS Me","FS Me Web Light", Helvetica, Arial, Verdana , sans-serif; font-size-adjust:0.53; font-weight:200; font-style:normal;
  color:#fff;
  border-radius:3px;
  box-shadow:rgba(0,0,0,0.1) 0px 2px 4px;
  cursor:pointer;
  -webkit-font-smoothing: antialiased;
}

  .button:hover {
    box-shadow:rgba(0,0,0,0.1) 0px 2px 4px;

    background:rgba(255,255,255,.8);
  color:#00aeef;
  }
  .button:active{
    background: #0092c8;
    box-shadow:inset rgba(84,6,90,.12) 0px 2px 4px;
    -webkit-transition: all .1s ease-in; 
    -moz-transition: all .1s ease-in; 
    -o-transition: all .1s ease-in; 
    transition: all .1s ease-in;
    color:#fff;
  }
  
#content_container{
/*   background:#eeeeee;*/
	max-width:1280px;
	margin:0 auto;
}  
  
#content{
  clear:both;
  max-width:1s;
  margin:0px auto 0px;
  padding:40px 20px 0px;
}  


.clear{
  clear:both;
}

h2{
  color:#00aeef;
  font-size:1.4em;
  line-height:30px;
  font-weight:500;
  margin:2em 0 6px;
  padding:0;
  font-family:"FS me","FS Me Web Bold", Helvetica, Arial, Verdana , sans-serif; font-size-adjust:0.53; font-weight:bold; font-style:normal;
  font-weight:bold;
}

h3{
	color:#787878;
}

.col{
  width:50%;
  float:left;
  margin:0px 0px 40px;
  padding:0 20px 0 20px;
}

.col h2:first-child {
  margin-top: 0;
}

pre{
  margin:10px 0;

}


#content img {
  width: 100%;
  margin: 15px 0 0 0;
  display: block;
  overflow: hidden;
}
#content a,#content a:visited {
  color:#00aeef;
  text-decoration: none;
  font-weight: normal;
}

#content a:hover {
  text-decoration: underline;
  color:#000;
}

#content a:active {
  text-decoration: none;
  color: #000;
}

#content p{
  margin:5px 0 5px;
  padding:0;
  color:#474747;
  line-height:1.8em;
  font-family:"FS me","FS Me Web Light", Helvetica, Arial, Verdana , sans-serif; font-size-adjust:0.53; font-weight:200; font-style:normal; 

}

#content ul.whouses {
  list-style: none;
  padding: 0;
  margin: 15px 0 20px 0;
}

ul.whouses li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0 10px;
  width: 33%;
  text-align: left;
}

ul.whouses li:first-child {
  padding: 0 10px 0 0;
}

li.git img {
  width: 60%!important;
}

#content ul.whouses li.hall img {
  margin: 0 0 0 -20%;
}

#content ul.whouses img  {
  margin: 0;
}


.code{
  position:relative;
margin:0;
  background:#777777;
  background:rgba(0,0,0,.5);
  color:#fff;
  font-size:14px;
  font-family:"menlo","Courier New",monospace;
  padding:10px 10px 10px 20px;
  border-radius:3px;
  box-shadow:inset rgba(0,0,0,.3) 0px 0px 4px;  
  margin:10px 0;
	font-size:12px;
	white-space:nowrap;

	overflow:hidden;

}

#author {
  margin-top: 1em;
}
#author img {
  float: left;
  margin: 0 4% 4% 0;
  width: 20%;
  border-radius:3px;
}

#author .bio h1 {
  margin: 0 20px 0 0;
  font-size: 1em;
  float: left;
}

#content .author-links {
  margin:2px 0 20px 0;
  float: left;
  font-size: .9em;
}

#content .author-links li { 
  float: left;
  margin: 0 20px 0 0;
  list-style: none;
  list-style: none;
}

#content .author-links li:last-child {
  margin-right: 0;
}

#content .author-links li a {
  display: block;
  height: 16px;
  line-height: 16px;
}

#author p {
  clear: both;
}

.icn_twitter a {
/*  background: url(../img/twitter.png) top left no-repeat;
  padding: 0 0 0 21px;
  width: auto;*/
}

.icn_twitter a:hover {
/*  background: url(../img/twitter.png) bottom left no-repeat;*/
}

.icn_world a {
  background: url(../img/icn_world.png) top left no-repeat;
  padding: 0 0 0 21px;
  width: auto;
}
.icn_world a:hover {
  background: url(../img/icn_world.png) bottom left no-repeat;
}

footer{

  width:100%;  
  color:#a2a1a1;
  padding:20px 20px;
  float:left;
}


  footer section{
    position:relative;
    margin:0 auto;
    font-size:.8em;
    display:block;
    clear:both;
    max-width:1260px;
    padding:0 20px;
    margin:10px auto 0px;
  }

  footer span{
    float:left;
    padding-top:5px;
  }

  #footer_logo{
        background:url("../img/intridea_logo.png") center right no-repeat;
        width:136px;
        height:30px;
        float:right;
        background-size:100%;
        text-indent:-9999px;
		background-size: 136px 30px;
        }
  
        @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
          #footer_logo{
                background:url("../img/intridea_logo_2x.png") center right no-repeat;

                }
        }
  
  
  footer a,  footer a:hover,   footer a:active,   footer a:visited {
    color:#a2a1a1;
  }
  

  footer #hiring{
    position:absolute;
    top:-40px;
    right:74px;
    line-height:24px;
    height:24px;
    border-radius:3px;
    display:block;
    background:#fff;
    padding:0 15px;
    text-decoration:none;
    font-size:.9em;
    font-weight:400;
    color:#005e98;
    box-shadow:rgba(161,161,161,.2) 0px 2px 4px;
    -webkit-transition: all .3s linear; 
    -moz-transition: all .3s linear; 
    -o-transition: all .3s linear; 
    transition: all .3s linear;
    
  
  }
  
  footer #hiring:hover{
    color:#333 !important;
  }
  
    footer #hiring:after{
      content:".";
      text-indent:-5000px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid white;
      position:absolute;
      top:22px;
      left:22px;
    }

/*updates*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}  

#markup{
	height:100px;
	overflow:none;

}

#markup.expand{
	height:auto;
 	overflow:auto;
}

.expand .overlap{
	display:none;
}

.overlap{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:30px;
	display:block;
	background:url(../img/overlap.png);
	z-index:1;
}

#view_all, #collapse{
	position:absolute;
	bottom:0;
	right:0;
	display:block;
	background:#00aeef;
	padding:5px 10px;
	border-radius:3px 0 0 0;
	font-family:"FS me","FS Me Web Regular", Helvetica, Arial, Verdana , sans-serif; font-size-adjust:0.53; font-weight:normal; font-style:normal;
  	box-shadow: rgba(0,0,0,.3) 0px 0px 4px; 
	z-index:3;
}

#collapse{
	display:none;
}

.expand #view_all{
	display:none;
}

.expand #collapse{
	display:block;
}

ul.stately{
	width:300px;
	font-size:300px;
	margin:0 center;
	color:#b0b0b0;
}



ul.stately li{
	-webkit-transition: all 1s ease-in; 
	-moz-transition: all 1s ease-in; 
	-o-transition: all 1s ease-in; 
	transition: all 1s ease-in;
}

ul.stately li span{
	display:none;
}

#election li{
	color:#00aeef;
}

#election li#id,
#election li#ut,
#election li#az,
#election li#ak,
#election li#wy,
#election li#mt,
#election li#no,
#election li#sd,
#election li#nd,
#election li#ne,
#election li#in,
#election li#ks,
#election li#ok,
#election li#tx,
#election li#mo,
#election li#ar,
#election li#la,
#election li#ms,
#election li#tn,
#election li#ky,
#election li#wv,
#election li#nc,
#election li#sc,
#election li#ga,
#election li#al,
#election li#in
{
	color:#ff7474;
}


#intrideans li#ca,
#intrideans li#co,
#intrideans li#dc,
#intrideans li#fl,
#intrideans li#ks,
#intrideans li#md,
#intrideans li#mn,
#intrideans li#mi,
#intrideans li#nj,
#intrideans li#ny,
#intrideans li#oh,
#intrideans li#va,
#intrideans li#wa,
#intrideans li#wy{
	color: #a3d07e;}



#presidents li#va,          
#presidents li#oh,
#presidents li#ma,
#presidents li#ny,
#presidents li#nc,
#presidents li#tx,
#presidents li#vt,
#presidents li#ar,
#presidents li#ca,
#presidents li#ga,
#presidents li#hi,
#presidents li#il,
#presidents li#ia,
#presidents li#ky,
#presidents li#mo,
#presidents li#ne,
#presidents li#nj,
#presidents li#pa,
#presidents li#sc
{
	color:#ff8b3e;
}


#header{
/*	color:#fff;*/
	color:rgba(255,255,255,.5);
	height:350px;
	background-size:100%;
	width:360px;
	font-size:360px;
	position:absolute;

}

.lt-ie9 #header{
	color:#a1d6ff !important;
}

#header li{
}

/*#shadow{
	display:none;
	
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
	color:rgba(0,0,0,.5);
	opacity:.1;
	position:absolute;
	top:130px;
	width:360px;
	font-size:360px;
	-webkit-transform:rotateX(80deg);
	-moz-transform:rotateX(80deg);
	-o-transform:rotateX(80deg);
	transform:rotateX(80deg);
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	filter: blur(6px);
 	-ms-transform: rotate(10deg);
}*/


#title{
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	-o-perspective: 600px;
	perspective: 600px;
	width:350px;
	margin:0 auto;
	position:relative;
	height:380px;
}
