.stately {
	background: #f2f2f2;	
	padding: 20px;
	border-radius: 10px;
	border-top: 1px solid #dddddd;
}

#intrideans {
	
	color: #b0b0b0;
	
	.ca,
  .co,
  .dc,
  .fl,
  .ks,
  .md,
  .mn,
  .mi,
  .nj,
  .ny,
  .oh,
  .va,
  .wa,
  .wy {
  	color: #a3d07e;
  }
  
} // #intrideans

#election {
	
	color:#00aeef;
	
	.id,
  .ut,
  .az,
  .ak,
  .wy,
  .mt,
  .no,
  .sd,
  .nd,
  .ne,
  .ks,
  .ok,
  .tx,
  .mo,
  .ar,
  .la,
  .ms,
  .tn,
  .ky,
  .wv,
  .nc,
  .sc,
  .ga,
  .al {
  	color:#ff7474;
  }
	
} // #election

#presidents {
  
	color: #b0b0b0;
	
	.va,          
  .oh,
  .ma,
  .ny,
  .nc,
  .tx,
  .vt,
  .ak,
  .ca,
  .ga,
  .hi,
  .il,
  .ia,
  .ky,
  .mi,
  .ne,
  .nj,
  .pa,
  .sc {
  	color:#ff8b3e;
  }
  
} // #presidents