@font-face {
    font-family: 'stately-webfont';
    src: url('stately-webfont.eot');
    src: url('stately-webfont.eot?#iefix') format('embedded-opentype'),
         url('stately-webfont.woff') format('woff'),
         url('stately-webfont.ttf') format('truetype'),
         url('stately-webfont.svg#testfontRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

ul.stately{
	font-size-adjust:none;
	font-family:"stately-webfont";	
	font-weight: normal;
	font-style: normal;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "liga=1";
	-ms-font-feature-settings: "liga" 1;
	-ms-font-feature-settings:"liga", "dlig"; 
	overflow:hidden;
	width:300px;
	font-size:300px;
	display:block;
	margin:0  auto;
	padding:0;
	list-style:none;	
	display:block;
}


.stately li{ 
	font-family:"stately-webfont";	
	float: left;
	margin-left:-100%;
	line-height:100%;
	-webkit-transition:all 1s ease-in;
	position: relative;
	left: 101%;
	width:100%;
	margin-top:-20%;
	list-style:none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:default;
}